

.container{
  background-color: #151515;
  transition: all 0.3s ease;
}
.profile-content-container{
  margin-left: 5em;
  margin-top: 4em;
  display: flex;
  color: white;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease;


}
.profile-container{
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 2em;
  background-color: black;
  padding: 1em;
  transition: all 0.3s ease;


}

.user-info-span{
  color: wheat;
}

.profile-picture{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* General styles for the form */
.profile-form, .location-form{
  background-color: #000000; 
  color: white; 
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  border: 1px solid grey;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1888999991;
  display: none;
}

/* Style for form labels */
.form-label,
.form-label-file {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Style for text inputs */
.form-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

/* Style for file input */
input[type="file"] {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #e0e0e0;
  display: block;
}

/* Style for submit button */
.submit-btn {
  background-color: #151515; /* Darker green on hover */
  color: #ffffff; 
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border: 1px solid grey;
}

.submit-btn:hover {
  background-color: #000000; /* Green background for the submit button */
}


.profile-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.768);
  overflow-y: hidden;
  z-index: 188899999;
  display: none;
}

.user-location-span{
  color: rgb(185, 185, 185);
  width: 15em;
  cursor: pointer;
}

.user-info-span-text{
  text-decoration: underline;
  color: wheat;
  font-size: 0.9em;
}

.friends-count-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.friends-count{
  color: wheat;
  font-size: 5em;
}
.edit-profile-info{
  color: wheat;
  background-color: rgb(26, 26, 26);
  width: fit-content;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}
.friends-count-text{
  padding: 0;
  margin-top: 0;
  margin-bottom: 2em;
}

.user-info-username{
  color: rgb(137, 207, 254);
  text-align: center;
  margin-top: 0;
  font-size: 1.2em;
}

.user-basic-info{
  color: rgb(185, 185, 185);
}

.user-info-span-text-visitor{
  color: rgb(246, 246, 246);
  cursor: default;
}

.remove-friend{
  padding: 10px;
  background-color: rgb(93, 93, 93);
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
}
.remove-friend:hover{
  color: wheat;
  font-weight: bold;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000000;
}
.popup-content {
  background: rgb(73, 73, 73);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.popup.hidden {
  display: none;
}

#popup-username{
  color: wheat;
}

.confirm-btn{
  background-color: rgb(137, 207, 254);
  padding: 8px;
  border-radius: 8px;
  margin-right: 1em;
  cursor: pointer;
}

.cancel-btn{
  background-color: rgb(234, 247, 255);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.confirm-btn:hover, .cancel-btn:hover{
  font-weight: bold
}

.accept-friend, .decline-friend{
  padding: 10px;
  margin: 8px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 8px;
  width: fit-content;
}

.accept-friend{
  color: wheat;
  background-color: #5d5d5d;
}

.decline-friend{
  color: rgb(247, 167, 167);
  background-color: #5d5d5d;
}