{% load static %}

<div class="admin-nav-container">
    <div class="admin-nav-content">
        <div class="admin-user-profile">
            <h2>Kraeg</h2>
        </div>


        <nav class="admin-nav">
            <a href="{% url 'ebigkas_admin' %}">
                <div class="feedbacks nav-opt">
                    feedbacks
                    <hr>
                </div>
            </a>

            <div class="edit_dash nav-opt" id="edit-dash">
                edit dashboard 
                <hr>

            </div>
            <div class="announce nav-opt">
                announce
                <hr>
            </div>

            <a href="{% url 'logout' %}">
                <div class="admin_logout nav-opt">
                    Logout
                    <hr>
                </div>
            </a>

        </nav>
    </div>

</div>
