{% load static %}


<div class="home-nav">
    <div class="search-bar-container">
        <div class="search-bar">
            <form action="{% url 'search_users' %}" method="GET" onsubmit="adjustPadding()">
                <input type="text" name="query" placeholder="Add user...">
            </form>


            
            <div class="user-holder-container" id="user-holder-container">
                    {% if no_results %}
                    <p style="color: wheat; text-align:center; margin-top: 2em;">Ooopss.. the user does not exist.</p>
                    {% else %}
                    {% for user in users %}
                    <div class="friend">
                        <div class="user-holder">{{ user.username }}</div>

                        {% if current_user == user %}
                       
                        {% elif user.id in user_friend_ids %}
                                <i class="fas fa-user-friends"></i>
                        {% else %}
                            <form method="post" action="{% url 'add_friend' friend_id=user.id %}">
                                {% csrf_token %}
                                {{ form }}
                                <input type="hidden" name="friend_id" value="{{ user.id }}">
                                <button type="submit" class="addfriend">
                                    <i class="fas fa-user-plus"></i>
                                </button>
                            </form>
                            {% if error %}
                                <p>{{ error }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}

            </div>
        </div>
    </div> 

    <div class="parent-icon-container">

        <div class="icon-container">
            <div class="friend-request" id="friend-request" onclick="showFriendRequests()"> 
                <i class="fas fa-user-friends" ></i>
            </div>

            <div class="pending-friendships-dropdown" id="pending-friendships-dropdown">
                <div class="pending-friendships-text" id="pending-friendships-text">Friend requests</div>
                <!-- friends' pending friendships will be dynamically add here -->
            </div>

            <div class="friend-message" id="friend-message" onclick="showMessageDropdown()"> 
                <i class="fas fa-envelope"></i>
            </div>

            <div class="message-dropdown1" id="message-dropdown">
                <div class="chats-text">Chats</div>
                <!-- friends' message will be dynamically add here -->
            </div>
                  

            <div class="profile-menu" onclick="showDropdown()">
            <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" id="profile-menu">
            </div>

            <div class="menu-dropdown" id="menu-dropdown">
                <div class="drop-profile">
                    <i class="fas fa-user"></i>
                    <a href="{% url 'profile' %}" id="profile" class="drop-profile">Profile</a>
                </div> 

                <div class="drop-support">
                    <i class="fas fa-life-ring"></i>
                    <a href="#" id="support" class="drop-support">Support</a>
                </div> 

                <div class="drop-feedback">
                    <i class="fas fa-comment-dots"></i>
                    <a href="#" id="feedback" class="drop-feedback">Feedback</a>
                </div> 

                <div class="drop-settings">
                    <i class="fas fa-cog"></i>
                    <a href="#" id="settings" class="drop-settings">Settings</a>
                </div>

                <div class="drop-logout" onclick="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    <a href="{% url 'logout' %}" id="logout" class="drop-logout">Logout</a>
                </div> 

            </div>


        </div>
    </div>
    
</div>


<script>

    const userHolderConatiner = document.getElementById('user-holder-container');
    const dropdown = document.getElementById('menu-dropdown');
    const message_dropdown = document.getElementById('message-dropdown');
    const pendingDropdownContainer = document.getElementById('pending-friendships-dropdown');
    const envelope = document.getElementById('friend-message');
    const friendRequest = document.getElementById('friend-request');
    let toggleDrop = true;
    let toggleMessageDrop = true;
    let toggleFriendRequest = true;

    function showMessageDropdown(){

        if(toggleMessageDrop){
            if(toggleFriendRequest == false){
                pendingDropdownContainer.style.display = 'none';
                toggleFriendRequest = true;
                friendRequest.style.boxShadow = 'none'; 
                friendRequest.classList.remove('active');

            }
            loadFriendsConversations();
            message_dropdown.style.display = 'block';
            envelope.style.boxShadow = '-1px -2px 20px 4px wheat'; 

            toggleMessageDrop = false;
            envelope.classList.add('active');
            dropdown.style.display = 'none';
            toggleDrop = true;
        }
        else{
            message_dropdown.style.display = 'none';
            toggleMessageDrop = true;
            envelope.classList.remove('active');
            envelope.style.boxShadow = 'none'; 


        }
    }

 

    function adjustPadding(){
        userHolderConatiner.style.display = 'block';
    }

    function showDropdown(){
        if(toggleDrop){
            dropdown.style.display = 'block';
            toggleDrop = false;
            message_dropdown.style.display = 'none';
            envelope.style.boxShadow = 'none'; 
            toggleMessageDrop = true;
        }
        else{
            dropdown.style.display = 'none';
            toggleDrop = true;

        }
    }

    function logout(){
        socket.send(JSON.stringify({
            type: 'friend_status',
            loggedInUserID: sessionStorage.getItem('loggedInUserId'),
            loggedInUsername: sessionStorage.getItem('loggedInUsername'),
            status: 'offline'
        }));
        sessionStorage.clear();
    }

    function formatDate(timestamp) {
        const date = new Date(timestamp);
        const today = new Date();
        const diff = today - date;
        const oneDay = 24 * 60 * 60 * 1000; // milliseconds in a day
        const dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    
        if (diff < oneDay && date.getDate() === today.getDate()) {
            // If within today, show hours
            return date.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' });
        } else if (diff < 7 * oneDay) {
            // If within the current week, show day of the week
            return dayNames[date.getDay()];
        } else {
            // Otherwise, show the date (month and day)
            return date.toLocaleDateString([], { month: 'short', day: 'numeric' });
        }
    }
    
    // Function to truncate text and add ellipsis
        function truncateText(text, maxLength) {
            if (text.length > maxLength) {
                return text.substring(0, maxLength) + '...';
            } else {
                return text;
            }
        }

    function showFriendRequests(){
        if(toggleFriendRequest){

            if(toggleMessageDrop == false){
                message_dropdown.style.display = 'none';
                toggleMessageDrop = true;
                envelope.classList.remove('active');
                envelope.style.boxShadow = 'none'; 
                
            }
            loadFriendRequests();
            pendingDropdownContainer.style.display = 'block';
            toggleFriendRequest = false;
            friendRequest.style.boxShadow = '-1px -2px 20px 4px wheat'; 
            friendRequest.classList.add('active');


       
        }
        else{
            pendingDropdownContainer.style.display = 'none';
            toggleFriendRequest = true;
            friendRequest.style.boxShadow = 'none'; 
            friendRequest.classList.remove('active');

        }
    }
    

    function loadFriendRequests(){
        console.log('showFriendRequests');
        fetch('/pending_friendships_list/')
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const pendingDropdown = document.getElementById('pending-friendships-dropdown');
                    const pendingFriendshipsText = document.getElementById('pending-friendships-text');
             
                    pendingDropdown.innerHTML = '';
                    pendingDropdown.appendChild(pendingFriendshipsText);

                    data.pending_user_info.forEach(friend_request => {
                        const userPendingRequestContainer = document.createElement('div');
                        const userPendingRequest = document.createElement('div');
                  
                        userPendingRequestContainer.classList.add('user-pending-request-container');
                        userPendingRequest.classList.add('user-pending-request');
                        console.log(friend_request);
                        const profilepic = document.createElement('img');
                        profilepic.src = friend_request.profile_picture;
                        profilepic.classList.add('user-pending-profile-pic');

                        const actionConatiner = document.createElement('div');
                        const acceptInviteButton = document.createElement('div');
                        const declineInviteButton = document.createElement('div');

                        actionConatiner.classList.add('action-button-container');
                        acceptInviteButton.classList.add('accept-invite-button');
                        declineInviteButton.classList.add('decline-invite-button');
                        acceptInviteButton.textContent = '✓';
                        declineInviteButton.textContent = '✗';

                       
                        const friendRequestUsername = document.createElement('div');
                        friendRequestUsername.classList.add('friend-request-info');
                        friendRequestUsername.textContent = friend_request.username;

                        actionConatiner.appendChild(declineInviteButton);
                        actionConatiner.appendChild(acceptInviteButton);

                        userPendingRequest.appendChild(profilepic);
                        userPendingRequest.appendChild(friendRequestUsername);
                        userPendingRequest.appendChild(actionConatiner);
                        userPendingRequestContainer.appendChild(userPendingRequest);
                        pendingDropdown.appendChild(userPendingRequestContainer);


                        acceptInviteButton.addEventListener('click', function() {
                            fetch(`/accept_friend_request/${friend_request.friendship_id}/`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': getCookie('csrftoken') 
                                }
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    console.log('Friend request accepted successfully');
                                    showFriendRequests();
                                    friends_list()
                                }
                            })
                            .catch(error => console.error('Error:', error));
                        });

                        declineInviteButton.addEventListener('click', function() {
                            fetch(`/decline_friend_request/${friend_request.friendship_id}/`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': getCookie('csrftoken') 
                                }
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    console.log('Friend request declined successfully');
                                    showFriendRequests();
                                }
                            })
                            .catch(error => console.error('Error:', error));
                        });


                    });


                }
            })
            .catch(error => console.error('Error:', error));
    }
    
    let ako = sessionStorage.getItem('loggedInUserId');
    function loadFriendsConversations() {
        fetch('/friends_conversations/')
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const messageDropdown = document.getElementById('message-dropdown');

                     // Clear existing content except the 'chats-text' div
                    const existingChatsText = messageDropdown.querySelector('.chats-text');
                    messageDropdown.innerHTML = '';
                    messageDropdown.appendChild(existingChatsText);
    
                    // Sort friends based on the timestamp of their last message (latest first)
                    data.friends.sort((a, b) => {
                        if (a.last_message && b.last_message) {
                            return new Date(b.last_message.timestamp) - new Date(a.last_message.timestamp);
                        } else if (a.last_message && !b.last_message) {
                            return -1; // A has a message, prioritize A
                        } else if (!a.last_message && b.last_message) {
                            return 1; // B has a message, prioritize B
                        } else {
                            return 0; // Both have no messages (shouldn't happen if filtering in backend)
                        }
                    });
    
                    data.friends.forEach(friend => {
                        if (!friend.last_message) {
                            return; // Skip this friend if there's no last message
                        }
    
                        const friendMessage = document.createElement('div');
                        friendMessage.classList.add('dropdown-messages');
    
                        const profileImg = document.createElement('img');
                        profileImg.src = friend.profile_picture;
                        profileImg.alt = 'Profile Picture';
                        profileImg.classList.add('sender-profile');
                        
                        // Check if friend is online and add status indicator
                        if (friend.status == "online") {
                            profileImg.style.position = 'relative'; // Ensure profileImg has relative positioning for absolute positioning of status indicator
                            const statusIndicator = document.createElement('div');
                            statusIndicator.classList.add('status-indicator');
                            friendMessage.appendChild(statusIndicator);
                        }
    
                        const messageDetails = document.createElement('div');
                        messageDetails.classList.add('message-details');
    
                        const sender = document.createElement('div');
                        sender.classList.add('message-sender');
                        sender.textContent = friend.username;

                        const unread_count = document.createElement('div');
                        unread_count.classList.add('unread-count');
                        unread_count.textContent = friend.unread_count;

                        if(friend.unread_count > 0){
                            unread_count.style.display = 'block';
                        }
                        else{
                            unread_count.style.display = 'none';
                        }

                        const content = document.createElement('span');
                        content.classList.add('message-content');
                       
                        
                        // Check if the logged-in user is the sender
                        if (friend.last_message.sender == ako) {
                            content.textContent = `You: ${truncateText(friend.last_message.content, 9)}`;
                        } else {
                            content.textContent = truncateText(friend.last_message.content, 11);
                        }
                        
                        const loggedInUserID_for_displaychat1 = sessionStorage.getItem('loggedInUserId');
                        if(loggedInUserID_for_displaychat1 > friend.id){
                            conversation_name = `${loggedInUserID_for_displaychat1} and ${friend.id}`;
                        }
                        else{
                            conversation_name = `${friend.id} and ${loggedInUserID_for_displaychat1}`;
                        }

                        friendMessage.addEventListener('click', function() {
                            displaychat1(friend.id, friend.username);
                            showMessageDropdown();
                            reset_unread_count(conversation_name);
                        });

                        const timestamp = document.createElement('span');
                        timestamp.classList.add('message-timestamp');
                        timestamp.textContent = formatDate(friend.last_message.timestamp);
    
                        messageDetails.appendChild(sender);
                        messageDetails.appendChild(content);
                        messageDetails.appendChild(timestamp);
    
                        friendMessage.appendChild(profileImg);
                        friendMessage.appendChild(messageDetails);
                        friendMessage.appendChild(unread_count);

    
                        messageDropdown.appendChild(friendMessage);
                    });
                }
            })
            .catch(error => console.error('Error:', error));
    }
        
    
    function reset_unread_count(conversation_name) {
        fetch(`/reset_unread_count/${encodeURIComponent(conversation_name)}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') 
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Unread count reset successfully');
                // Optionally refresh the messages or UI
            }
        })
        .catch(error => console.error('Error:', error));
    }

    // Function to get the CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
        
</script>