@media screen and (max-width: 768px) {
    .icon-container{
        right: -2em;
    
    }
    .search-bar {
        left: 40%;
    }

    #current-user-profilepic img{
        width: 35px;
        height: 35px;
    }
   
}

@media screen and (max-width: 520px) {

    .menu-opened{
        padding-left: 0;
    }
    .user-holder-container{
        width: 250px;
    }

    .search-bar {
        left: 35%;
    }

    .icon-container{
        right: -5em;
    
    }

    .nav-container.menu-opened .left-nav {
        width: 80%;
    }

    .toggle{
        right: 2em;
    }

    .menu-opened .appName{
        margin-right: 1em;
    }
}


@media screen and (max-width: 450px) {
    .icon-container{
        right: -5em;
    
    }
    .search-bar {
        left: 30%;
    }
   
    .user-holder-container{
        width: 180px;
    }
}